<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<style>
    h1 {
        color:rgb(0, 148, 255)
    }
    h2 {
        color:rgb(144, 144, 144)
    }
    h3 {
        color: white;
    }
</style>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>The Website is currently under maintenance for security and functionality vulnerabilities
            and will continue to be down for the next few hours. Thank you for your patience.</h3>
    </hgroup>
    
</body>
</html>
