body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
jumbotron {
    background-color: darkgray;
    padding: 0.5em 0.6em;
}
table {
    max-height: inherit;
    max-width: inherit;

h2 {
       color:rgb(0, 144, 255)
   }
.div {
    color:rgb(128, 128, 128)
}
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.topnav li[html.topnav] {
    background-color: purple;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 17px;
}
