@{
    ViewBag.Title = "Home Page";
}

    
        <div class="jumbotron"style="background: rgba(7, 6, 6, 0.49)">
            <style>
                h4 {
                    color: lightblue;
                }
                h2 {
                    color: white;
                    text-shadow: 3px 2px 2px rgba(7, 6, 6, 0.49);
                }
                h1 {
                    color: rgb(128, 128, 128)
                }
            </style>
            <h1 class="text-align: text-center">Shadows 3</h1>
            <p class="text-align: text-center">Frostbite </p>
            <br />
            <p style="text-align: center;"><a class="btn btn-primary btn-group-lg" href="Home/Order" role="button">Buy Now</a></p>
        </div>
    
<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <h2>New Story</h2>
        <h4>
            A Winter Storm has broke out across Alaska, but unlike Season 2, the temperatures are reaching -50* and
            below. The Storm has caused Frostbite to induce on all animals and people who live within the state.
            All Wildlife and sea creatures are on edge and ready to fight if they feel "threatened".
        </h4>
        
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <h2>Our Partnership</h2>
        <h4>
            We've teamed up with Alien Graphic Studios to bring the characters and creatures to life with more depth
            and PureTone lighting for a more realistic gaming experience.
        </h4>
        
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <h2>Flashbacks</h2>
        <h4>
            Now when you play as Jack random flashbacks of Shadows 2 cutscenes will play with the screen flipped
            backwards...why? we don't know..he needs Jesus.
        </h4>
        
    </div>
</div>