@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Shadows 2.0</h2>
    <p class="lead">Cluster Strike</p>
    <p><a href="http://localhost:49954/Checkout/Checkout" class="btn btn-primary btn-lg">Order Now </a></p>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <h2>Now in Ultra-HD</h2>
        <p>
            We reinvented the PixelSense* Engine to adapt to any display and use our brand new ColorCore* correction system to enhance
            game-play and create more vivid and crisp graphics.
        </p>
        
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <h2>More immersive gameplay</h2>
        <p>The artificial-intelligence and button recognition systems that are responsible for smooth gameplay and easier controls have been
        reinvented from the ground up allowing you to focus less on accuracy and more on the task at hand.
        </p>
        
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <h2>New worlds, characters and extra content</h2>
        <p>Now exclusive to shadows 2, comes 3 new worlds, characters and 22 missions requiring skill, strategy and technique to conquer
        and defend.
        </p>
        
    </div>
</div>